/* Main style sheet for Desmoto's Arts & Crafts website */
h1, h2, h3, p {
   font-family: Helvetica;
}

h1 {
   background-image: url("../images/pattern.jpeg");
   text-align: center;
   font-size: 100px;
   color: khaki;
}

h2.item {
   font-size: 32px;
   color: white;
}

#brush {
   background-color: mediumspringgreen;
}

#frame {
   background-color: lightcoral;
}

#paint {
   background-color: skyblue;
}

.price {
   color: blue;
   font-weight: bold;
}

.product_img {
   margin-left: auto;
}

.descr {
   font-size: larger;
}

